<html lang="en" ng-app="cubed">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>you spin my head right round</title>

  <link href="css/main.css" rel="stylesheet">

  <script src="js/angular.min.js"></script>
  <script src="js/jquery-3.2.0.js"></script>
  <script src="js/packages.min.js"></script>

  <script src="app.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body tabindex="0" ng-controller="cubeController" switchside="cube-top">

  <div class="cube">
    <div class="square {{cubeSide}}" ng-switch="cubeSide">
      <div class="input-container" ng-controller="eventCreateController" ng-switch-when="cube-top">
        <div><h1><strong>Create an event</strong></h1></div>
        <div>Give it a title:</div>
        <input type="text" ng-focus="setInputFocus(true)" ng-blur="setInputFocus(false)" ng-model="event.title"/>
        <div>Choose a date:</div>
        <div class="dropdown" ng-focus="setInputFocus(true)" ng-blur="setInputFocus(false)">
          <a class="dropdown-toggle" id="dropdown" role="button" data-toggle="dropdown">
            <div class="input-group">
              <input type="text" id="date" name="date" class="form-control" data-ng-model="event.date">
              <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
            </div>
          </a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
            <datetimepicker data-ng-model="event.date" data-before-render="setStartDateBeforeRender($dates)"></datetimepicker>
          </ul>
        </div>
        <div>Add a description:</div>
        <textarea name="" id="" cols="30" rows="10" ng-focus="setInputFocus(true)" ng-blur="setInputFocus(false)" ng-model="event.desc">
        </textarea>
        <button ng-click="saveEvent()">Save event</button>
        {{success}}
        {{warnings}}
      </div>
      <div ng-switch-when="cube-side">
        <div ng-if="events[eventDisplayIndex]">
          <div>Event no. {{eventDisplayIndex}}</div>
          <div>Title: {{events[eventDisplayIndex].title}}</div>
          <div>Date: {{events[eventDisplayIndex].date | date:'medium'}}</div>
          <div>Desc: {{events[eventDisplayIndex].desc}}</div>
        </div>
        <div ng-if="!events[eventDisplayIndex]">
          Event {{eventDisplayIndex}} doesn't exist.
        </div>
      </div>
      <div ng-switch-when="cube-bottom">
        <div>Thank you for using this app!</div>
        <div>© Dragos Paun, 2017</div>
      </div>
    </div>
  </div>

</html>